<div *ngIf="screenToDisplay=='list'">
  <form #formStudent="ngForm">
    <div class="form-group">
      <h1 class="text-center">Lista Alunos</h1>
      <!--
      <div class="input-group-prepend">
        <input type="text" placeholder="Adicionar tarefa" name="task" #task
          [(ngModel)]="nameTaskModel" maxlength="30"
          class="form-control">
        <span (click)="addTask(task.value)" class="input-group-text">
          <i class="material-icons">add</i>
        </span>
      </div>
      -->
    </div>
    <div class="data">
      <ul class="list-unstyled">
        <li *ngFor="let studentItem of listStudents">{{studentItem.name}}
          <i (click)="removeStudent(studentItem.key)" class="material-icons">delete</i>
          <i (click)="edit(studentItem.key)" class="material-icons">edit</i>
          <i (click)="detailStudent(studentItem.key)" class="material-icons">visibility</i>
        </li>
      </ul>
    </div>
  </form>
</div>

<app-students-detail 
  *ngIf="screenToDisplay=='detail'"
  [student]="studentSelected"
  [closeDetail]="close">
</app-students-detail>

<app-students-edit 
  *ngIf="screenToDisplay=='edit'"
  [closeEdit]="close"></app-students-edit>